
.skill{
    width:100%;
    padding:6rem 0;
    background-color: gainsboro;
    background-image: url("../assets/skill-back-img.png");
    height: 90vh;
    
    
}
.skillCards{
    display: flex;
    justify-content: space-between;
}
h1{
    align-items: center;
}
img{
    width:150px;
}