@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color:rgb(163, 162, 162);
}
h1,h4,h6,p,a{
    color:whitesmoke;
    text-decoration: none;
}

.btn{
    padding:10px 28px;
    font-size: 1rem;
    text-transform: uppercase;
    background: rgb(248 ,217, 15);
    color:#222;
    border:1px solid #fff;
    font-weight: 600;
    cursor:pointer;
}
.btn-light{
    background: transparent;
    color:#fff;
}

.btn:hover{
    background: rgba(255,255,255,0.2);
    color:#fff;
    transition:0.3s;
}
